{{#each mugiwara}}

{{! instructions can go here if and when I decide to inject some content }} 

<div>
  
  <h1>{{{fullName crewMember}}}</h1>

  {{{JOLLYROGER}}}

  <p>
    {{#if th_Member}}
    {{{IF_crew occupation th_Member}}}
    {{else}}
    {{{allyDeck}}} {{{normalJob club_Member occupation}}}
    {{/if}}

    {{! log "comments for the console if I remove the exclamation mark "}}

    {{{bounty_Description epithet bounty}}}

    {{#unless club_Member}}
    {{{SAFER_url}}}
    {{else}}
    {{{UNL_deck}}}
    {{/unless}}
  </p>
  
</div>

{{/each}}

{{!-- and yet some more comments --}}